* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fffffe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  scroll-behavior: smooth;
  --main-bg-color: #b1d182;
}

header {
  background-color: transparent;
}
/* NAVBAR MIDLE */
.nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 52px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-collapse: collapse;
  background-color: #252525;
}
.nav:nth-child(1) {
  z-index: 9;
}

.right-nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 0;
  margin: 0 30px;
  cursor: pointer;
}

.nav.detil h2 {
  font-family: Monaco;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}


.right-nav a:hover {
  color: #a7a6a6;
}

.left-side {
  display: none;
}

.left-nav {
  display: none;
}

/* BODY */
.hero {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  align-items: center;
  padding: 0;
}

.wrap {
  overflow: hidden;
  height: 46em;
  width: 100%;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #252525;
  padding: 0;
}

.c-1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  position: relative;
  padding-left: 40px;
}

.c-1 p {
  color: #fff;
  font-size: 2vw;
  text-align: left;
}

.c-1 :nth-child(2),
.c-1 .wb {
  font-size: 3vw;
}

.c-2 {
  width: 450px;
  height: 430px;
  min-height: auto;
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
  margin-right: 40px;
  right: 100px;
  box-shadow: 6px 7px 20px rgba(0,0,0,0.3);
}

.c-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bio {
  display: flex;
  width: 100%;
  height: 30em;
}



.hero.scd {
  background-color: transparent;
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  background-color: #202020;
  justify-content: space-between;
}


.hero-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hero.scd .hero-right p {
  text-align: justify;
  padding: 40px;
}



/* myskill */

.myskill {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #252525;
}

.its-me {
  display: flex;
  margin: auto;
  position: relative;
  align-items: center;
}

.container {
  display: grid;
  grid-template: 200px / auto auto auto auto;
  grid-gap: 60px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  top: -100px;
}

.container > .card {
  border: 1px solid white;
  min-width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-collapse: collapse;

}

/* ICON CARD */
.card.one,
.two,
.three,
.four {
  display: flex;
  flex-direction: column;
}

.card .body-card h4 {
  color: rgb(201, 135, 12);
}

.card:hover {
  transform: translate(0, -20px);
  cursor: pointer;
  box-shadow: 0px 15px 16px 1px rgb(29, 29, 29);
  transition-duration: 0.2s;
}


.contact {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #202020;
  margin: auto;
  box-sizing: border-box;
  padding: 40px;
  justify-content: center;
  align-items: center;
}


textarea {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  overflow:hidden;
  color: white;
  background-color: transparent;

  box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

input[type="email"] {
  border-radius: 10px;
  padding: 10px;
  width: 240px;

  color: white;
  background-color: transparent;
  box-shadow: 6px 7px 20px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


input[type="submit"] {
  padding: 13px;
  background-color: rgb(19, 18, 18);
  border-radius: 9px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transform: translate(0,-1px);
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}


#float-nav {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  padding: 20px;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 200px;
}

.bubble {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: auto;
  cursor: pointer;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}











@media (max-width: 700px) {
  header {
    background-color: transparent;
  }
  .nav {
    position: absolute;
    z-index: 99999;
    height: 100vh;

    width: 0;
  }

  .nav.detil {
    display: none;
  }
  /* NAVBAR LEFT */

  .left-nav {
    display: none;
    left: -30vw;
    background-color: #252525;
    width: 220px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 1px 0 30px black;
    transition: 0.3s;
    z-index: 99;
    width: 200px;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    border-bottom: 1px solid white;
  }

  .left-nav.open {
    display: flex;
    left: 0;
  }

  .left-nav a {
    position: relative;
    padding: 19px;
    top: 100px;
    height: auto;
    width: 100%;
    color: #fff;
    text-align: left;
    text-decoration-line: none;
  }


  .left-nav.open a:hover {
    background-color: #fffffe;
    color: #000000;
  }

  .left-nav.open a:hover > .fa-regular.fa-hand-point-right {
    color: #000000;
  }

  .left-side.active {
    display: inline-block;
    cursor: pointer;
    margin: auto;
    padding: 4px;
    border-collapse: collapse;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 9999;
  }

  .left-side.active.fix {
    position: fixed;
  }

  .left-side.active.fix li::after {
    background-color: white;
  }

  .left-side.active li::after {
    content: " ";
    display: flex;
    width: 28px;
    margin: 6px;
    height: 3px;
    border-radius: 100px;
    background-color: white;
    position: relative;
  }

  .left-side.active:hover :nth-child(1) {
    transform: translate(0px, 9px) rotate(40deg);
    transition: 0.1s;
  }

  .left-side.active:hover :nth-child(2) {
    opacity: 0;
    transition: 0.1s;
  }

  .left-side.active:hover :nth-child(3) {
    transform: translate(0px, -9px) rotate(-40deg);
    transition: 0.1s;
  }

  .left-side.active.fix :nth-child(1) {
    transform: translate(0px, 9px) rotate(40deg);
  }

  .left-side.active.fix :nth-child(2) {
    opacity: 0;
  }

  .left-side.active.fix :nth-child(3) {
    transform: translate(0px, -9px) rotate(-40deg);
  }

  /* BODY */
  .wrap {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 100%;
  }

  .hero {
    max-height: none;
    height: 100vh;
    width: 100%;
  }

  .c-2 {
    width: 270px;
    height: 270px;
    position: relative;
    margin: auto;
    left: 0;
  }

  .c-1 {
    min-width: 400px;
    height: 50px;
    top: -120px;
    padding: 0;
    position: relative;
    margin: auto;
  }

  .c-1 :nth-child(1) {
    font-size: 20px;
    padding-bottom: 18px;
  }

  .c-1 :nth-child(2),
  .c-1 .wb {
    font-size: 30px;
  }

  .c-1 :nth-child(1),
  .c-1 :nth-child(2) {
    text-align: center;
  }

  .bio {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .hero.scd {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    margin: auto;
  }

  .hero.scd .hero-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  
  .myskill {
    height: 230vh;
    padding-top: 130px;
    box-sizing: border-box;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    top: 0;
  }
 
  #float-nav {
    position: relative;
    flex-direction: row;
    background-color: #202020;
    width: 100%;
    height: 300px;
    top: 0;
    margin: auto;
    justify-content: center;
    padding: 0;
  }

  .bubble {
    margin: 30px;
    left: 0;
  }



}











@media (min-width: 701px) and (max-width: 1239px) {

  .nav {
    flex-direction: column;
    height: 180px;
    padding-top: 50px;
  }


  .container {
    grid-template: 200px / auto auto;
    row-gap: 110px;
  }

  .wrap {
    flex-direction: column-reverse;
    height: 46em;
    max-width: 1470px;
    width: 1500px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
  }

  .c-2 {
    width: 350px;
    height: 350px;
    position: relative;
    margin: auto;
    left: 0;
    top: 40px;
  }

  .c-1 p,
  .c-1 h1 {
    min-width: 400px;
    height: 50px;
    padding: 0;
    position: relative;
    margin: auto;
    text-align: center;
  }

  .c-1 p {
    font-size: 25px;
  }

  .c-1 :nth-child(2),
  .c-1 .wb {
    font-size: 39px;
    margin: 10px;
  }

  .container {
    top: 0;
  }
  .bio {
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;
  }

  .hero.scd {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    margin: auto;
  }

  .hero.scd img {
      margin-top: 100px;
  }

  .hero.scd .hero-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
